<ion-header>
  <ion-toolbar>
    <ion-title>Itens</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Sair</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="segmento" (ionChange)="carregarItens()">
    <ion-segment-button value="nao_comprados">Não Comprados</ion-segment-button>
    <ion-segment-button value="comprados">Comprados</ion-segment-button>
  </ion-segment>

  <ion-list>
    <ion-item *ngFor="let item of itens">
      <ion-label>
        <h2>{{ item.nome }}</h2>
        <p>Quantidade: {{ item.quantidade }}</p>
        <p>Preço: {{ item.preco | currency }}</p>
      </ion-label>
      <ion-button (click)="editItem(item)">Editar</ion-button>
      <ion-button (click)="deleteItem(item.id)">Excluir</ion-button>
    </ion-item>
  </ion-list>

  <ion-button (click)="addItem()">Adicionar Item</ion-button>
</ion-content>
