<ion-header>
  <ion-toolbar>
    <ion-title>Adicionar Item</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nome do Item</ion-label>
    <ion-input [(ngModel)]="nome"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Quantidade</ion-label>
    <ion-input type="number" [(ngModel)]="quantidade"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Preço</ion-label>
    <ion-input type="number" step="0.01" [(ngModel)]="preco"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="addItem()">Adicionar Item</ion-button>
</ion-content>
