<ion-header>
  <ion-toolbar>
    <ion-title>Listagem de Itens</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>{{ itemEditandoId ? 'Editar Item' : 'Adicionar Item' }}</h2>

  <ion-item>
    <ion-label position="floating">Nome</ion-label>
    <ion-input [(ngModel)]="nome"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Quantidade</ion-label>
    <ion-input type="number" [(ngModel)]="quantidade"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Preço</ion-label>
    <ion-input type="number" [(ngModel)]="preco"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="adicionarOuEditarItem()">
    {{ itemEditandoId ? 'Atualizar Item' : 'Adicionar Item' }}
  </ion-button>

  <h2>Lista de Itens</h2>

  <ion-list>
    <ion-item *ngFor="let item of itens">
      <ion-label>
        <h2>{{ item.nome }}</h2>
        <p>Quantidade: {{ item.quantidade }} | Preço: R$ {{ item.preco }}</p>
      </ion-label>
      <ion-button color="secondary" (click)="editarItem(item.id)">Editar</ion-button>
      <ion-button color="danger" (click)="deletarItem(item.id)">Excluir</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
